/* Cards da tela inicial da loja */
.cardcat{
    width: 125px;
    box-shadow: 0px 1px 3px 1px gray;
    box-sizing: border-box;
    height: 75px;
    border-radius: 5px;
    background-color: white;
}
.mobile-card-container > .row {
    overflow-x: scroll;
}
/* Icone hamburguer da barra de navegação */
.navbar-toggler {
    border:0;
}